@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"">
    <img class="organiteamHomePic"src="/pictures/LogoOrganiTeam.gif" />
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <h1 class="logoTitle">OrganiTeam</h1>
    <hr class="yellowSeparator" />
    <h4>A simple and effective business application for employee management. Sign up for OrganiTeam and start managing your company for free!</h4>
</div>

