@{
    ViewData["Title"] = "User Manual";
}
<h1>Manual de usuario</h1>
<div class="userManualSection">
    <img class="userManualPic" src="~/pictures/userManualPic.png" />
    <div>
        <p>
            Welcome to the demo of OrganiTeam, an application developed by Asier García Pérez, with the help of his teachers Peio Murguia Lasa and Erlantz Rojo Raño at BBKBootcamp in Bilbao (Vizcaya, Spain). From a very basic point of view, it presents several functionalities of the Model-View-Controller (MVC) offered by ASP.Net, through an employee management application. It employs the Identity API giving the application a user interface (UI) login functionality, and also manages users, passwords, profile data, roles, notifications, tokens, e-mail confirmation, etc.
            This application also allows you to assign admin, manager and guest roles, which have the following permissions:
        </p>

        <ul>
            <li><b>Admin Role:</b> It has permissions to create employees, delete them, increase salary and decrease it. In addition, it has a section available to manage roles of registered users, as well as delete them. You can visualize each of the sections of the application. By default, if you log in to the application you will be granted this role.
<li><b>Rol Manager:</b> You have permissions to view the different departments, but you cannot create new ones. You can edit employees, and view their details, but you cannot delete them. You cannot increase or decrease their salary. You also do not have the option to modify user permissions.</li>
            <li><b>Role Guest:</b> You have permissions to view the list of employees, as well as departments. It does not have access to the rest of the functionalities.
        </ul>

        <p>Take a look at the <u>README.md file</u> to obtain more information on how to install the application, through simple steps.</p>
    </div>
</div>

